.datetimeModal.ios .ion-page ion-content {
    --background: var(--ion-item-background) !important;
    overflow: hidden;
}

.datetimeModal.ios ion-datetime {
    --background: var(--ion-item-background) !important;
}

ion-item.animated {
    animation-name: elementShow;
    animation-duration: 0.25s;
    animation-timing-function: cubic-bezier(0,0,0,1);
    animation-fill-mode: forwards;
    filter: opacity(0);
}

@keyframes elementShow {
    0% {
        transform: translateY(10px);
        filter: opacity(0);
    }
    100% {
        transform: translateY(0);
        filter: opacity(1);
    }
}

* {
    user-select: none;
}

#noTouchZone {
    width: 50px;
    height: calc(100vh - 56px);

    background-color: transparent;

    position: absolute;
    top: 56px;
    left: 0;

    z-index: 9999;
}

@media screen and (min-width: 992px) {
    #noTouchZone {
       display: none;
    }
}