.datetimeModal.ios .ion-page ion-content {
    --background: var(--ion-item-background) !important;
    overflow: hidden;
}

.datetimeModal.ios ion-datetime {
    --background: var(--ion-item-background) !important;
}

ion-item.animated {
    animation-name: elementShow;
    animation-duration: 0.25s;
    animation-timing-function: cubic-bezier(0,0,0,1);
    animation-fill-mode: forwards;
    filter: opacity(0);
}

@keyframes elementShow {
    0% {
        transform: translateY(10px);
        filter: opacity(0);
    }
    100% {
        transform: translateY(0);
        filter: opacity(1);
    }
}

* {
    user-select: none;
}

#noTouchZone {
    width: 50px;
    height: calc(100vh - 56px);

    background-color: transparent;

    position: absolute;
    top: 56px;
    left: 0;

    z-index: 9999;
}

@media screen and (min-width: 992px) {
    #noTouchZone {
       display: none;
    }
}

ion-content::part(scroll) {
    padding-bottom: var(--ion-safe-area-bottom) !important;
}

.swiper-slide, .swiper-slide-shadow{
    background: var(--ion-item-background) !important;
}

.swiper-slide {
    border-radius: 10px;
    overflow: hidden;
    overflow-y: scroll;
}

.newCoursBtnFab {
    bottom: calc(20px + var(--ion-safe-area-bottom) * 0.8) !important;
    right: 16px;
}

ion-fab {
    bottom: calc(16px + var(--ion-safe-area-bottom));
    right: 16px;
}

.fabButton {
    display: flex;

    align-items: center;
    justify-content: flex-end;

    gap: 20px;

    margin-right: 7px;

    margin-top: 10px;
    margin-bottom: 10px;
}

.fabButton p {
    text-align: right;
    margin: 0;

    color: #fff;
    background: #222;

    padding: 5px 10px;
    border-radius: 5px;
}

.fabButton .icon {
    min-width: 42px;
    height: 42px;
    background: #222;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

.fabButton span {
    color: #fff !important;
}