/* Public Sans (woff2) */
@font-face {
    font-family: 'Public Sans';
    src: url('/public/fonts/PublicSans/PublicSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/public/fonts/PublicSans/PublicSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/public/fonts/PublicSans/PublicSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/public/fonts/PublicSans/PublicSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/public/fonts/PublicSans/PublicSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}