* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: var(--ion-background-color);
}

*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    scrollbar-width: none;
}

.scroll-bar-indicator {
    position: absolute;
    border-radius: 4px;
    background: rgba(0, 0, 0, .3);
    opacity: 1;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear
}

ion-content::-webkit-scrollbar {
    display: none;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
    background-color: transparent;
}
  
*::-webkit-scrollbar {
    background-color: transparent;
}
  
*::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: transparent;
}

:root {
    --papillon-font: 'Fixel', sans-serif;
    --ion-box-shadow: 0 1px 2px #00000005, 0 2px 6px #00000005;
}

h1, h2, h3 {
    font-weight: 600 !important;
    font-family: var(--papillon-font);
}

h2, h3 {
    font-weight: 500 !important;
}

ion-title.title-large {
    font-family: var(--papillon-font);
    font-weight: 500 !important;
    letter-spacing: -0.5px;
}

ion-title.title-default {
    font-family: var(--papillon-font);
    font-weight: 500 !important;
    font-size: 17px !important;
    line-height: 17px !important;
}

/* (MD) Searchbar */

input.sc-ion-searchbar-md {
    box-shadow: none !important;
    background: var(--ion-color-step-50) !important;
    border-radius: 300px !important;
}

.md .toolbar-searchbar {
    margin-top: -5px;
}

/* (MD) Toolbar */
.header-md {
    border-bottom: 1px solid #e0e0e0;
}

body.dark .header-md {
    border-bottom: 1px solid #363636;
}

.header-md::after {
    background: none;
}

.header-md .buttons-last-slot {
    padding-right: 5px;
}

/* (MD) Calendar button */
#rnPickerModalButton {
    background: var(--ion-color-step-100) !important;
    border-radius: 8px;

    height: 36px;

    overflow: hidden;
    isolation: isolate;

    transition: background 0.2s;

    margin-right: 5px;

    padding: 0px 2px !important;
}

body.dark #rnPickerModalButton {
    background-color: #ffffff11;
}

#rnPickerModalButton span {
    margin-left: 3px;
}

#rnPickerModalButton p {
    font-weight: 500;
    font-size: 16px;
    text-transform: none;
    letter-spacing: normal;

    margin-right: 3px;
    font-family: var(--papillon-font);
}

#rnPickerModalButton.ios {
    margin-right: 5px !important;
}

ion-header.ios:not(.header-collapse-condense-inactive) #rnPickerModalButton {
    background: transparent !important;
}

/* Material Symbols */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-display: block;
    src: url('/public/fonts/MaterialSymbolsOutlined.woff2') format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined' !important;
    font-weight: normal;
    font-style: normal;
  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.mdls {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;

    font-size: 24px;

    width: 24px;
    overflow: hidden;
    isolation: isolate;
}

.mdls[slot="start"] {
    margin-inline-end: 5px;
}

ion-item .mdls[slot="start"] {
    margin-inline-end: 24px;
}

.mdls::before {
    display: none;
}

.smol {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 18 !important;

    font-size: 18px !important;
}

/* NoCours */
.NoCours {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 32px;

    height: 180px;
}

.NoCours:has(ion-button) {
    height: 220px;
}

.NoCoursAnim-enter-active {
    transition: 0.4s cubic-bezier(.5,0,0,1);
}

.NoCoursAnim-leave-active {
    transition: 0.3s cubic-bezier(.5,0,0,1);
}

.NoCoursAnim-enter-from, .NoCoursAnim-leave-to {
    height: 0px !important;
    opacity: 0;
    transform: scale(0.9) translateY(-30px);
    margin-top: -36px;
}

.NoCours * {
    margin: 0;
    padding: 0;
    text-align: left;
}

.NoCours .mdls {
    width: auto;
    font-size: 24px;
    margin-bottom: 14px;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 36;
    padding: 10px;
    background: var(--ion-color-step-50);
    border-radius: 300px;
}

.NoCours h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.NoCours ion-spinner {
    margin-bottom: 15px;
}

.NoCours h2 {
    font-style: normal;
    font-weight: 600 !important;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 8px;
}

.NoCours p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    opacity: 50%;
    font-family: var(--papillon-font) !important;
}

.NoCours .button {
    margin-left: -15.4px;
    font-weight: 600 !important;
}

.NoCours {
    padding: 18px 32px;
    align-items: center;
}

.NoCours * {
    text-align: center;
}

.NoCours .button {
    margin-left: 0;
}

/* Modals */

.md ion-modal {
    background: #00000055;
}

.md ion-modal.modal-sheet::part(content) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.ios ion-modal.modal-sheet::part(content) {
    overflow: hidden;
}

/* toasts */
.ios ion-toast {
    --border-radius: 8px !important;
    --box-shadow: 
        0px 1px 2px #00000010,
        0px 2px 4px #00000015,    
    !important;
    box-shadow: 
        0px 1px 2px #00000010,
        0px 2px 4px #00000015,    
    !important;
}

ion-toast::part(header) {
    font-size: 16px;
    line-height: 19px !important;
    font-weight: 500;
    font-family: var(--papillon-font) !important;
}

ion-toast::part(message) {
    font-size: 15px;
}

ion-header:not(.header-collapse-condense):not(ion-modal ion-header) {
    --ion-toolbar-border-color: #cacbd0 !important;
}

ion-header:not(.header-collapse-condense):not(ion-modal ion-header) ion-toolbar:first-child {
    padding-top: var(--papillon-safe-area-top, 0) !important;
}

ion-modal.modal-sheet ion-header ion-toolbar:first-child {
    padding-top: 8px !important;
}

.dark .ios ion-header:not(.header-collapse-condense) {
    --ion-toolbar-border-color: #414141 !important;
}

.dark .toolbar-title-default {
    --border-color: #414141 !important;
}

ion-header ion-toolbar ion-title ion-chip {
    margin-left: 10px;
    font-weight: 600;
    font-size: 14px;
    margin-top: 1px !important;
}

.ios ion-header ion-toolbar ion-title {
    margin-top: -1px;
}

.toast-small {
    max-width: 95vw !important;
    --width: fit-content !important;
    --border-radius: 80px !important;

    /* center */
    left: 50% !important;
    transform: translateX(-50%) !important;

    margin: 0 !important;
}

.toast-small::part(container) {
    width: fit-content;
    height: 40px; 
}

.toast-small::part(header) {
    width: fit-content;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* items */
ion-list.list-inset {
    background : var(--ion-inset-background) !important;
    border-radius: 10px !important;
}

ion-list.list-inset > * {
    --background : var(--ion-inset-background) !important;
}

ion-list.list-inset ion-list-header {
    padding-top: 10px;
    display: flex;
    align-items: center;
}

ion-list.list-inset.md ion-list-header {
    border-radius: 8px 8px 0px 0px !important;
    overflow: hidden;
}

ion-list.list-inset.md ion-item:last-child {
    border-radius: 0px 0px 8px 8px !important;
    overflow: hidden;
}

ion-list.list-inset ion-list-header, ion-list.list-inset ion-item {
    --background : var(--ion-inset-background) !important;
}

ion-list.list-inset.ios ion-list-header ion-label {
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

ion-list.list-inset.md ion-list-header {
    padding-top: 8px;
}

.ios ion-list.list-inset {
    --ion-inset-background: var(--ion-plain-background-color) !important;
    box-shadow: var(--ion-box-shadow) !important;
    border-radius: 12px !important;
}

/* action sheet */
ion-action-sheet {
    --ion-color-primary: #0075ff !important;
}

.light ion-segment * {
    --indicator-color: var(--ion-background-color) !important;
}

/* only md */
.ios .only-md {
    display: none;
}

/* only ios */
.md .only-ios {
    display: none;
}

/* content */
ion-content {
    --padding-bottom: env(safe-area-inset-bottom) !important;
}

ion-fab .mdls {
    width: auto;
    margin-left: -3.5px;
}

/* beta chip */
.beta-chip {
    margin-top: 0px;
    height: fit-content;

    padding: 4px 10px;
}

/* debug banner */
#debug_banner {
    position: absolute;
    top: 15px;
    right: -28px;

    z-index: 999999999999999999999999999;
    transform: rotate(45deg);

    width: 100px;
    background-color: #7a0000;

    color: white;
    text-align: center;

    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;

    box-shadow: 1px 1px 5px #00000055;
}

/* alerts */
ion-alert.md .alert-wrapper {
    --background: var(--ion-color-step-100);
    border-radius: 24px !important;
}

ion-alert.md .btn_secondary {
    color: #888;
}

.alert-button.sc-ion-alert-md {
    border-radius: 300px;
    padding: 10px 15px !important;
}

/* animations */
.ElemAnim-enter-active {
    transition: 0.4s cubic-bezier(0.77,0.15,0.06,1.11);
}

.ElemAnim-leave-active {
    transition: 0.15s cubic-bezier(.5,0,0,1);
}

.ElemAnim-enter-from, .ElemAnim-leave-to {
    opacity: 0;
    transform: translateY(200px) scale(0.7);

    margin: 5px 16px;
}

/* links */
a.inherit {
    color: inherit;
}

.md .alert-input-group {
    padding: 0px 24px;
}

.md .alert-input {
    border-radius: 0;
    font-size: 16px;
}

ion-list.listGroup {
    background: var(--ion-plain-background-color) !important;
}

ion-list.listGroup ion-item {
    --background: var(--ion-plain-background-color);
    --border-color: var(--ion-color-step-150);
}

.ios ion-list.listGroup {
    border-top: 1px solid var(--ion-color-step-100);
    border-bottom: 1px solid var(--ion-color-step-100);
}

ion-list.listGroup.contains-nav-link ion-nav-link:last-child ion-item {
    --border-color: transparent;
}

ion-list.listGroup:not(.contains-nav-link) ion-item:last-child {
    --border-color: transparent;
}

.listGroupTitle p {
    padding-top: 20px !important;
}

.listGroupTitle p {
    padding: 10px 0px;
    padding-left: 16px;
}

.small_chip {
    padding: 2px 8px !important;
    height: fit-content !important;
    margin-top: 0px !important;
    transform: translateY(1px);
}