/* Import fonts from /fonts folder */
@font-face {
    font-family: 'Papillon';
    src: url('/public/fonts/Hind/Hind-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Papillon';
    src: url('/public/fonts/Hind/Hind-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Papillon';
    src: url('/public/fonts/Hind/Hind-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Papillon';
    src: url('/public/fonts/Hind/Hind-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Papillon';
    src: url('/public/fonts/Hind/Hind-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ion-title, h1, h2, h3, ion-button {
    font-family: 'Papillon', sans-serif;
}

h1, h2, h3 {
    font-weight: 700 !important;
}

ion-title, h2, h3 {
    font-weight: 600 !important;
}

.ios ion-title.md {
    font-size: 18px;
    font-weight: 600 !important;
}

/* (MD) Searchbar */

input.sc-ion-searchbar-md {
    box-shadow: none !important;
    background: #f0f0f0 !important;
    border-radius: 300px !important;
}

.md .toolbar-searchbar {
    margin-top: -5px;
}

@media screen and (prefers-color-scheme: dark) {
    input.sc-ion-searchbar-md {
        background: #292929 !important;
    }
}

/* (MD) Toolbar */
.header-md {
    border-bottom: 1px solid #e0e0e0;
}

@media screen and (prefers-color-scheme: dark) {
    .header-md {
        border-bottom: 1px solid #363636;
    }
}

.header-md::after {
    background: none;
}

.header-md .buttons-last-slot {
    padding-right: 5px;
}

/* (MD) Calendar button */
#rnPickerModalButton {
    background: var(--ion-color-step-50) !important;
    border-radius: 300px;

    height: 36px;

    overflow: hidden;
    isolation: isolate;
}

@media screen and (prefers-color-scheme: dark) {
    #rnPickerModalButton {
        background-color: #ffffff11;
    }
}

#rnPickerModalButton span {
    margin-left: 3px;
}

#rnPickerModalButton p {
    font-weight: 500;
    font-size: 16px;
    text-transform: none;
    letter-spacing: normal;

    margin-right: 3px;
}

#rnPickerModalButton.ios {
    margin-right: 5px !important;
}

/* Material Symbols */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url('/public/fonts/MaterialSymbolsOutlined.woff2') format('woff');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined' !important;
    font-weight: normal;
    font-style: normal;
  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    font-display: block;
}

.mdls {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;

    font-size: 24px;
}

.mdls[slot="start"] {
    margin-inline-end: 5px;
}

ion-item .mdls[slot="start"] {
    margin-inline-end: 24px;
}

.mdls::before {
    display: none;
}

.smol {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 18 !important;

    font-size: 18px !important;
}

/* NoCours */
.NoCours {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    padding: 20px 32px;
}

.NoCours * {
    margin: 0;
    padding: 0;
    text-align: left;
}

.NoCours .mdls {
    font-size: 24px;
    margin-bottom: 14px;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 36;
    padding: 10px;
    background: var(--ion-color-step-50);
    border-radius: 300px;
}

.NoCours h2 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
}

.NoCours p {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    margin-top: 10px;
    opacity: 50%;
}

.NoCours .button {
    margin-left: -15.4px;
}

.ios .NoCours {
    padding: 18px 32px;
    align-items: center;
}

.ios .NoCours * {
    text-align: center;
}

.ios .NoCours .button {
    margin-left: 0;
}

.md ion-modal {
    background: #00000055;
}

.md ion-modal::part(content) {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
}