/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {    
  --ion-color-primary: #00796B;
	--ion-color-primary-rgb: 0,121,107;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #006a5e;
	--ion-color-primary-tint: #1a867a;

	--ion-color-secondary: #00897b;
	--ion-color-secondary-rgb: 0,137,123;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #00796c;
	--ion-color-secondary-tint: #1a9588;

	--ion-color-tertiary: #004c40;
	--ion-color-tertiary-rgb: 0,76,64;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #004338;
	--ion-color-tertiary-tint: #1a5e53;

	--ion-color-success: #27a057;
	--ion-color-success-rgb: 39,160,87;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #228d4d;
	--ion-color-success-tint: #3daa68;

	--ion-color-warning: #c98e0d;
	--ion-color-warning-rgb: 201,142,13;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #b17d0b;
	--ion-color-warning-tint: #ce9925;

	--ion-color-danger: #eb445a;
	--ion-color-danger-rgb: 235,68,90;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #cf3c4f;
	--ion-color-danger-tint: #ed576b;
  --ion-color-danger-dark: #c0392b25;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #12D4A6;
    --ion-color-primary-rgb: 18,212,166;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #10bb92;
    --ion-color-primary-tint: #2ad8af;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #121314;
    --ion-background-color-rgb: 18,19,20;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #1e1f20;
    --ion-color-step-100: #2a2b2c;
    --ion-color-step-150: #363637;
    --ion-color-step-200: #414243;
    --ion-color-step-250: #4d4e4f;
    --ion-color-step-300: #595a5b;
    --ion-color-step-350: #656666;
    --ion-color-step-400: #717172;
    --ion-color-step-450: #7d7d7e;
    --ion-color-step-500: #89898a;
    --ion-color-step-550: #949595;
    --ion-color-step-600: #a0a1a1;
    --ion-color-step-650: #acacad;
    --ion-color-step-700: #b8b8b9;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdcdc;
    --ion-color-step-900: #e7e7e8;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #121314;

    --ion-toolbar-background: hsl(210, 5%, 10%);

    --ion-tab-bar-background: hsl(210, 5%, 7%);

    --ion-card-background: hsl(210, 5%, 9%);

    --ion-inset-background: hsl(210, 5%, 10%);
  }

  .ios ion-modal {
    --ion-toolbar-background: var(--ion-color-step-50);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #1C1B1F;
    --ion-background-color-rgb: 28,27,31;

    --ion-text-color: #fff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #27262a;
    --ion-color-step-100: #333235;
    --ion-color-step-150: #3e3d41;
    --ion-color-step-200: #49494c;
    --ion-color-step-250: #555457;
    --ion-color-step-300: #605f62;
    --ion-color-step-350: #6b6b6d;
    --ion-color-step-400: #777679;
    --ion-color-step-450: #828284;
    --ion-color-step-500: #8e8d8f;
    --ion-color-step-550: #99989a;
    --ion-color-step-600: #a4a4a5;
    --ion-color-step-650: #b0afb1;
    --ion-color-step-700: #bbbbbc;
    --ion-color-step-750: #c6c6c7;
    --ion-color-step-800: #d2d1d2;
    --ion-color-step-850: #dddddd;
    --ion-color-step-900: #e8e8e9;
    --ion-color-step-950: #f4f4f4;

    --ion-item-background: #1C1B1F;

    --ion-toolbar-background: #1C1B1F;

    --ion-tab-bar-background: #1C1B1F;

    --ion-card-background: hsl(255, 7%, 12%);

    --ion-inset-background: hsl(255, 7%, 15%);
  }

  .md ion-modal {
    --ion-toolbar-background: var(--ion-color-step-50);
  }
}

@media (prefers-color-scheme: light) {
  body {
    --ion-background-color: #ffffff;
    --ion-background-color-rgb: 255,255,255;

    --ion-text-color: #181B1C;
    --ion-text-color-rgb: 24,27,28;

    --ion-color-step-50: #f3f4f4;
    --ion-color-step-100: #e8e8e8;
    --ion-color-step-150: #dcdddd;
    --ion-color-step-200: #d1d1d2;
    --ion-color-step-250: #c5c6c6;
    --ion-color-step-300: #babbbb;
    --ion-color-step-350: #aeafb0;
    --ion-color-step-400: #a3a4a4;
    --ion-color-step-450: #979899;
    --ion-color-step-500: #8c8d8e;
    --ion-color-step-550: #808282;
    --ion-color-step-600: #747677;
    --ion-color-step-650: #696b6b;
    --ion-color-step-700: #5d5f60;
    --ion-color-step-750: #525455;
    --ion-color-step-800: #464949;
    --ion-color-step-850: #3b3d3e;
    --ion-color-step-900: #2f3233;
    --ion-color-step-950: #242627;
  }

  .md body {
    --ion-inset-background: hsl(255, 7%, 96%);
  }

  .ios body {
    --ion-inset-background: hsl(255, 0%, 97%);
  }
}