/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {    
  --ion-color-primary: #00796B;
	--ion-color-primary-rgb: 0,121,107;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #006a5e;
	--ion-color-primary-tint: #1a867a;

	--ion-color-secondary: #00897b;
	--ion-color-secondary-rgb: 0,137,123;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #00796c;
	--ion-color-secondary-tint: #1a9588;

	--ion-color-tertiary: #004c40;
	--ion-color-tertiary-rgb: 0,76,64;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #004338;
	--ion-color-tertiary-tint: #1a5e53;

	--ion-color-success: #00CC6A;
	--ion-color-success-rgb: 0,204,106;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #00b45d;
	--ion-color-success-tint: #1ad179;

	--ion-color-warning: #CC9300;
	--ion-color-warning-rgb: 204,147,0;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #b48100;
	--ion-color-warning-tint: #d19e1a;

	--ion-color-danger: #CC0000;
	--ion-color-danger-rgb: 204,0,0;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #b40000;
	--ion-color-danger-tint: #d11a1a;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #141316;
    --ion-background-color-rgb: 20,19,22;

    --ion-text-color: #fff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #201f22;
    --ion-color-step-100: #2c2b2d;
    --ion-color-step-150: #373639;
    --ion-color-step-200: #434245;
    --ion-color-step-250: #4f4e50;
    --ion-color-step-300: #5b5a5c;
    --ion-color-step-350: #666668;
    --ion-color-step-400: #727173;
    --ion-color-step-450: #7e7d7f;
    --ion-color-step-500: #8a898b;
    --ion-color-step-550: #959596;
    --ion-color-step-600: #a1a1a2;
    --ion-color-step-650: #adacad;
    --ion-color-step-700: #b9b8b9;
    --ion-color-step-750: #c4c4c5;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dcdcdc;
    --ion-color-step-900: #e8e7e8;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #141316;

    --ion-toolbar-background: #141316;

    --ion-tab-bar-background: #141316;

    --ion-card-background: #141316;
  }

  .ios ion-modal {
    --ion-toolbar-background: var(--ion-color-step-50);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #181B1C;
    --ion-background-color-rgb: 24,27,28;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #242627;
    --ion-color-step-100: #2f3233;
    --ion-color-step-150: #3b3d3e;
    --ion-color-step-200: #464949;
    --ion-color-step-250: #525455;
    --ion-color-step-300: #5d5f60;
    --ion-color-step-350: #696b6b;
    --ion-color-step-400: #747677;
    --ion-color-step-450: #808282;
    --ion-color-step-500: #8c8d8e;
    --ion-color-step-550: #979899;
    --ion-color-step-600: #a3a4a4;
    --ion-color-step-650: #aeafb0;
    --ion-color-step-700: #babbbb;
    --ion-color-step-750: #c5c6c6;
    --ion-color-step-800: #d1d1d2;
    --ion-color-step-850: #dcdddd;
    --ion-color-step-900: #e8e8e8;
    --ion-color-step-950: #f3f4f4;

    --ion-item-background: #181B1C;

    --ion-toolbar-background: #181B1C;

    --ion-tab-bar-background: #181B1C;

    --ion-card-background: #181B1C;
  }

  .md ion-modal {
    --ion-toolbar-background: var(--ion-color-step-50);
  }
}